<h1>{{title}}</h1>
<div class="header">
  <button id="update" name="update" label="Update">Update</button>
  <a href="/">settings</a>
</div>
<hr />
<h2>Achievements</h2>
<table class="achieves">
  <tr>
    <th>✓</th>
    <th>Name</th>
    <th>AP</th>
    <th>Rewards</th>
    <th>(Count)</th>
  </tr>
</table>
